h1{color: #a6c7ea;}
h2{background-color: rgb(207, 201, 179);}
h3{color: azure;}
body{background-color: black;}
h4{color: white;}
h6{color: bisque;}
p{color: #baa6a6;}
h5{color: beige;}
li{color: cadetblue;}