
*
    {
    background-color: bisque;
    }
    
    h2 {
    color: rgb(180, 87, 87);
    }
.details {
    background-color: rgb(183, 183, 209);
    }
#summary {
    color: rgb(114, 146, 172);
    }

